@font-face {
    font-family: 'Handwriting_j';
    src: url('Assets/Handwriting_j\ font/Handwriting_j-Regular.eot');
    src: url('Assets/Handwriting_j\ font/Handwriting_j-Regular.eot?#iefix') format('embedded-opentype'),
        url('Assets/Handwriting_j\ font/Handwriting_j-Regular.woff2') format('woff2'),
        url('Assets/Handwriting_j\ font/Handwriting_j-Regular.woff') format('woff'),
        url('Assets/Handwriting_j\ font/Handwriting_j-Regular.ttf') format('truetype'),
        url('Assets/Handwriting_j\ font/Handwriting_j-Regular.svg#Handwriting_j-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html { margin: 0; padding: 0; }

body {
    background-color: rgb(253, 252, 233);
    font-family: Helvetica, sans-serif;
}

a {
    color: rgb(72, 84, 72);
}

hr {
    border: none;
    border-bottom: 5px dotted #6a6b2f;
}