@font-face {
    font-family: 'Handwriting_j-Regular';
    src: url('Handwriting_j-Regular.eot');
    src: url('Handwriting_j-Regular.eot?#iefix') format('embedded-opentype'),
        url('Handwriting_j-Regular.woff2') format('woff2'),
        url('Handwriting_j-Regular.woff') format('woff'),
        url('Handwriting_j-Regular.ttf') format('truetype'),
        url('Handwriting_j-Regular.svg#Handwriting_j-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

